<%- include ('../partials/navbar') %>
<br>
<div class="container">
    <h3>BOOKS LIST</h3>
    <ul>
        <li>Book 1 <small>(With Details!)</small></li>
        <li>Book 2 <small>(With Details!)</small></li>
        <li>Book 3 <small>(With Details!)</small></li>
        <li>Book 4 <small>(With Details!)</small></li>
        <li>Book 5 <small>(With Details!)</small></li>
    </ul>
</div>
<br>
<%- include ('../partials/footer') %>
